.root {
	/* dark base-color */
	/* 
	-fx-base: rgba(60, 63, 65, 255);
	* 
	*/
	
	-fx-accent: #0096c9;
	-fx-focus-color: #0096c9;
	-fx-faint-focus-color: transparent;
}

/*********************** 
 *  	Common UI	   *
 ***********************/
/*** ScollBar ***/
.scroll-bar:horizontal,
.scroll-bar:vertical{
	-fx-background-color:#f4f4f4;
	-fx-border-color:#f4f4f4;
	-fx-cursor: hand;
}
/* The main scrollbar **track** CSS class  */
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
	-fx-background-color:transparent;
	-fx-border-color:transparent;
	-fx-background-radius: 0.0em;
	-fx-border-radius:2.0em;
}
/* The increment and decrement button CSS class of scrollbar */
.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-border-color:transparent;
	-fx-background-radius: 0.0em;
	-fx-padding:0.0 0.0 10.0 0.0;

}
/* The increment and decrement button CSS class of scrollbar */
.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-border-color:transparent;
	-fx-background-radius: 0.0em;
	-fx-padding:0.0 10.0 0.0 0.0;
}
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
	-fx-shape: " ";	
	-fx-padding:0.0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb{
    -fx-background-color: transparent;
	-fx-background-insets: 2.0, 0.0, 0.0;
	-fx-background-radius: 2.0em;
}

.tree-view:hover .scroll-bar:horizontal .thumb,
.tree-view:hover .scroll-bar:vertical .thumb,
.table-view:hover .scroll-bar:horizontal .thumb,
.table-view:hover .scroll-bar:vertical .thumb
{
    -fx-background-color: derive(gray,60%);
	-fx-background-insets: 2.0, 0.0, 0.0;
	-fx-background-radius: 2.0em;
}
 
/* Text */
.text-field{
	-fx-background-radius: 3.0 3.0 3.0 3.0;
	-fx-min-width: 25.0;
    -fx-min-height: 25.0;
}
/* Button */
.button{
    -fx-focus-traversable:false;
}

/* ToolBar */
.tool-bar .button{
    -fx-background-radius: 100.0 100.0 100.0 100.0;
    -fx-min-width: 25.0;
    -fx-min-height: 25.0;
    -fx-max-height: 25.0;
}

/* TreeView */
.tree-view{
	-fx-focus-color: #d3d3d3;
	-fx-faint-focus-color: #d3d3d3;
	-fx-inner-border: #d3d3d3;
	-fx-body-color: #d3d3d3;
	-fx-background-color: -fx-faint-focus-color, -fx-focus-color,
		-fx-inner-border, -fx-body-color;
}
.tree-cell {
	-fx-background-color: #f4f4f4;
}
.tree-cell:focused {
	-fx-focus-color: #d3d3d3;
	-fx-faint-focus-color: #d3d3d3;
	-fx-inner-border: #d3d3d3;
	-fx-body-color: #d3d3d3;
	-fx-background-color: -fx-faint-focus-color, -fx-focus-color,
		-fx-inner-border, -fx-body-color;
}


/* context menu */
.context-menu {
    -fx-background-radius: 3.0 3.0 3.0 3.0;
    -fx-min-width: 150.0px;
    -fx-padding: 5.0px;
}
.menu-item{
	-fx-padding: 7.0px;
}
.context-menu .separator {
    -fx-padding: 0.333em 0.333em 0.333em 0.333em;
}

/* ToggleSwitch */
.greenSwitch:selected .thumb-area{
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -20.0%), derive(-fx-text-box-border, -30.0%)),
                            linear-gradient(to bottom, derive(#3CB371, 30.0%), #3CB371);
    -fx-background-insets: 0.0, 1.0;
}
.orangeSwitch:selected .thumb-area{
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -20.0%), derive(-fx-text-box-border, -30.0%)),
                            linear-gradient(to bottom, derive(#ffa500, 30.0%), #ffa500);
    -fx-background-insets: 0.0, 1.0;
}
.redSwitch:selected .thumb-area{
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -20.0%), derive(-fx-text-box-border, -30.0%)),
                            linear-gradient(to bottom, derive(#EE0000, 30.0%), #EE0000);
    -fx-background-insets: 0.0, 1.0;
}

/*********************** 
 *    Customized UI    *
 ***********************/
 
/* TextField */
.textWithBtn{
	-fx-background-radius: 3.0 0.0 0.0 3.0;
}

/*search textfield */
.search-text{
    -fx-background-radius: 20.0;
}

/* Button Following Textfield */
.textBtn{
    -fx-background-radius: 0.0 3.0 3.0 0.0;
    -fx-min-width: 20.0;
    -fx-min-height: 25.0;
}

.hide-box-border{
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-box-border: transparent;
}

.checkTree .tree-cell:focused {
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-inner-border: transparent;
	-fx-body-color: #c0c0c0;
	-fx-background-color: -fx-faint-focus-color, -fx-focus-color,
		-fx-inner-border, -fx-body-color;
}
